/* like out table */
.hostParams {
    display: table;         
    width: auto;  
    border: solid 1px grey;
    border-radius: 10px;
    text-align: left;

}

/* like the row portion */
.hostParam {
    display: table-row;
    width: auto;
    clear: both;
    padding: 5px;
}
.hostParamCell {
    float: left; /* fix for  buggy browsers */
    display: table-column;  
    width: 150px;
    padding: 10px;
}
.paramLabel {
    font-weight: bold;
    background-color: bisque;
    padding-right: 5px;
}