.hostsList {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between; */
    gap: 20px 20px;
    padding: 10px;
}

.hostEntry {
    border: solid 1px grey;
    float: left;
    width: 20%;
}